/* Import Fonts */

@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

/*Import Fonts end*/

/*Global setting*/
/*Settings are always in alphabetical order*/

* {
  border: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
}

body::before {
  background-attachment: fixed;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.05;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

  @media screen and (max-width: 1680px) {
    html {
      font-size: 11pt;
      } }
  @media screen and (max-width: 980px) {
    html {
      font-size: 12pt; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 11pt; } }
  @media screen and (max-width: 736px) {
  h1 {
    font-size: 44px;
    line-height: 21px; }

  h2 {
    font-size: 28px;
    line-height: 24px; }

  h3 {
    font-size: 20px; } }
    
input, select, textarea {
  color: #555555; }

a {
  color: #ce1b28; }

strong, b {
  color: #555555; }

h1, h2, h3, h4, h5, h6 {
  color: #555555; }

blockquote {
  border-left-color: rgba(0, 0, 0, 0.25); }

code {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.25); }

hr {
  border-bottom-color: rgba(0, 0, 0, 0.25); }

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

/* global settings end */

/* header */

#header {
  align-items: center;
  background-color: #111111;
  color: #fff;
  display: flex;
  height: 47px;
  justify-content: space-between;
  padding: 12px 20px;
  position: fixed;
  width: 100%;
}

#header .title {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 48px;
}

#header .menu {
  color: #444444;
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 48px;
  moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
}

#header .menu .ic {
  margin-right: 8px;
}

#header .menu:hover {
  color: #ffffff;
}

#header .navigation {
  background-color: #111111;
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  padding: 10px;
  transition: 0.5s ease-in-out;
}

#header .navigation.active {
  right: 0;
}

ul li {
  border-bottom: 1px solid #fff;
}

/* ul li:last-of-type {
  border-bottom: 0;
} */

/* header end */

/*banner*/

#banner {
  align-items: center;
  background-color: #242323;
  background-image: linear-gradient(
      to right,
      rgba(95, 0, 0, 0.7),
      rgba(33, 33, 37, 0.7)
    ),
    url(../images/banner.jpg);
  display: flex;
  font-family: "Raleway", sans-serif;
  height: 510px;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

#banner .inner {
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  justify-content: center;
}

#banner .inner .industri {
  color: #ffffff;
  font-size: 59px;
  font-weight: 300;
  padding: 0 0 30px 0;
}

#banner .templated {
  color: rgba(255, 255, 255, 0.5);
}

/* banner end */

/* cards */

#cards {
  color: #444444;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  justify-content: center;
  line-height: 24px;
  padding: 100px 0 0 0;
}

#cards .header {
  text-align: center;
}

#cards .header .title-card {
  color: #555555;
  font-size: 33px;
  font-weight: 300;
  line-height: 43px;
  padding: 0 0 20px 0;
}

#cards .header .paracard {
  display: block;
  max-width: 75%;
  margin: 0 auto;
}

#cardsrow {
  padding: 60px 0 0 0;
}

#cardsrow .boxrow {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

#cardsrow .boxrow .boxw {
  background-color: #ffffff;
  border-radius: 4px;
  margin: 16px;
  width: 20%;
  padding: 50px;
  text-align: center;
}

#cardsrow .boxrow .boxw .smallbox {
  color: #555555;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  padding: 0 0 20px 0;
}

#cardsrow .boxrow .boxw .boxcard {
  color: #444444;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  justify-content: center;
  line-height: 24px;
}

#cardsrow .boxrow .boxw .icontop {
  color: #ce1b28;
  font-size: 87px;
  font-weight: 400;
  line-height: 143px;
}

/* cards end */

/* red banner */

#redwrapper {
  align-items: center;
  background-attachment: fixed;
  background-image: linear-gradient(
      to right,
      rgba(206, 27, 40, 0.25),
      rgba(206, 27, 40, 0.25)
    ),
    url(../images/redbuilding.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  font-family: "Raleway", sans-serif;
  height: 400px;
  justify-content: center;
  margin: 130px 0;
  position: relative;
  overflow: hidden;
  width: 100%;
}

#redwrapper .redbanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#redwrapper .redbanner .inred {
  color: #ffffff;
  font-size: 39px;
  font-weight: 300;
  line-height: 51px;
  padding: 0 0 25px 0;
}

#redwrapper .redbanner .redpara {
  color: rgba(255, 255, 255, 0.75);
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
}

/* red banner end */

/* quotes */

#quotes {
  color: #444444;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
  justify-content: center;
  line-height: 29px;
  padding: 0px 0 0 0;
}

#quotes .header {
  text-align: center;
}

#quotes .header .title-quote {
  color: #555555;
  font-size: 39px;
  font-weight: 300;
  line-height: 51px;
  padding: 0 0 20px 0;
}

#quotes .header .paraquote {
  display: block;
  max-width: 75%;
  margin: 0 auto;
}

#quotesrow {
  padding: 60px 0 0 0;
}

#quotesrow .cuberow {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

#quotesrow .cuberow .cubew {
  background-color: #ffffff;
    border-radius: 2px;
    margin: 25px;
    width: 20%;
    padding: 40px 0px 40px 40px;
    text-align: center;
}

#quotesrow .cuberow .cubew .cubecard {
  border-left: 7.5px solid rgba(0, 0, 0, 0.25);
  color: #444444;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
  justify-content: center;
  line-height: 24px;
  margin: 0 0 30px 0;
  padding: 15px 0px 15px 35px;
  text-align: left;
}

#quotesrow .cuberow .cubew .author {
  align-items: center;
  color: #444444;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

#quotesrow .cuberow .cubew .author .photo {
  margin-right: 5px;
  width: 20%;
}

#quotesrow .cuberow .cubew .author .photo img {
  border-radius: 100%;
  display: block;
  max-width: 100%;
}

#quotesrow .cuberow .cubew .author .sig {
  margin: 30px;
}

  #quotesrow .cuberow .cubew .author .sig strong {  
    color: #ce1b28;
  }

/* quotes end */
